.login {
    margin: auto;
    width: 50%;
    background-color:cadetblue;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    padding-bottom: 30px;
}

.login-input-username {
    margin: 10px;
}

.login-button {
    margin-top: 30px;
    margin-bottom: 10px;
    color: blue;
}

// #btn{
//     padding: 10px 50px;
// }

