h1 {
    margin: auto;
    width: 50%;
    text-align: center;
}

.input-word {
    margin: 50px auto;
    width: 50%;
    justify-content: center;
    text-align: center;
}

.button {
    margin: 20px auto;
}

.output {
    margin: auto;
    width: 50%;
    text-align: center;
}